{% load static %}

<nav class="navbar navbar-expand-md navbar-dark bg-black custom-navbar-width" style="height: 90px">
  <a href="/" class="navbar-brand">
    <img src="{% static 'images/logo.svg' %}" width="65" height="75" alt="Ваш_лого" style="margin-left: 10px;">
  </a>
  <button class="navbar-toggler bg-light" data-bs-toggle="collapse" data-target="#navbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navbar" class="collapse navbar-collapse justify-content-between" style="margin-right: 30px">

    <ul class="navbar-nav w-100 justify-content-between align-items-center" style="margin-left: 30px">
      <li class="nav-item">
        <a href="#" style="flex-grow: 1;  color: #EAD7D7; font-size: 14px; font-family: Lucida Sans Unicode; font-weight: 400; letter-spacing: 0.80px; word-wrap: break-word; text-decoration: none;">Strona główna</a>
      </li>
      <li class="nav-item">
        <a href="#" style="flex-grow: 1;  color: #EAD7D7; font-size: 14px; font-family: Lucida Sans Unicode; font-weight: 400; letter-spacing: 0.80px; word-wrap: break-word; text-decoration: none;">Promocje w Warszawie</a>
      </li>
      <li class="nav-item">
        <a href="#" style="flex-grow: 1;  color: #EAD7D7; font-size: 14px; font-family: Lucida Sans Unicode; font-weight: 400; letter-spacing: 0.80px; word-wrap: break-word; text-decoration: none;">Dostawa i płatność</a>
      </li>
      <li class="nav-item">
        <a href="#" style="flex-grow: 1;  color: #EAD7D7; font-size: 14px; font-family: Lucida Sans Unicode; font-weight: 400; letter-spacing: 0.80px; word-wrap: break-word; text-decoration: none;">O nas</a>
      </li>
      <li class="nav-item">
        <a href="#" style="flex-grow: 1;  color: #EAD7D7; font-size: 14px; font-family: Lucida Sans Unicode; font-weight: 400; letter-spacing: 0.80px; word-wrap: break-word; text-decoration: none;">Kontakt</a>
      </li>

      <li class="nav-item dropdown" onmouseover="showLanguageDropdown()" onmouseout="hideLanguageDropdown()">
  <a class="nav-link dropdown-toggle" href="#" id="languageDropdown" role="button" aria-expanded="false" style="flex-grow: 1; color: #EAD7D7; font-size: 14px; font-family: Lucida Sans Unicode; font-weight: 400; letter-spacing: 0.80px; word-wrap: break-word; text-decoration: none; vertical-align: baseline;">
    Pl
  </a>
  <ul class="dropdown-menu" aria-labelledby="languageDropdown" style="display: none; background-color: black;">
    <li><a class="dropdown-item" href="#" style="color: #EAD7D7; ">Ru</a></li>
    <li><a class="dropdown-item" href="#" style="color: #EAD7D7; ">Ua</a></li>
  </ul>
</li>

    <li class="nav-item dropdown" onmouseover="showOtherDropdown()" onmouseleave="hideOtherDropdown()">
  <!-- Код вашого другого меню тут -->
       <a class="nav-link dropdown-toggle" href="#" id="OtherDropdown" role="button" aria-expanded="false" style="flex-grow: 1;  color: #EAD7D7; font-size: 14px; font-family: Lucida Sans Unicode; font-weight: 400; letter-spacing: 0.80px; word-wrap: break-word; text-decoration: none; vertical-align: baseline;">
    Godziny Pracy
  </a>
  <ul class="dropdown-menu other-dropdown-menu" aria-labelledby="OtherDropdown" style="display: none; background-color: black;">
    <li><p class="dropdown-item" style="color: #EAD7D7; ">Niedziela-Czwartek 12:00-23:00</p></li>
    <li><p class="dropdown-item" style="color: #EAD7D7; ">Piątek-sobota 12:00-23:00</p></li>
  </ul>
</li>



      <li class="nav-item d-flex align-items-center">
  <span class="material-symbols-outlined text-white" style="color: #EAD7D7; font-size: 20px;">location_on</span>
  <a href="#" style="flex-grow: 1;  color: #EAD7D7; font-size: 14px; font-family: Lucida Sans Unicode; font-weight: 400; letter-spacing: 0.80px; word-wrap: break-word; text-decoration: none; text-align: center;">Warszawa</a>
</li>



<style>
.dropdown-menu {
  position: absolute;
  width: auto;
  min-width: 20px;
}
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}
</style>




<script>
function showLanguageDropdown() {9
  document.querySelector('.dropdown-menu').style.display = 'block';
}

function hideLanguageDropdown() {
  document.querySelector('.dropdown-menu').style.display = 'none';
}

function showOtherDropdown() {
  document.querySelector('.other-dropdown-menu').style.display = 'block';
}

function hideOtherDropdown() {
  document.querySelector('.other-dropdown-menu').style.display = 'none';
}
</script>

    </ul>

  </div>

</nav>