<nav class="navbar navbar-expand-md navbar-light bg-dark">

        <a href="/" class="navbar-brand">
          <span class="material-icons material-symbols-outlined text-success material-icons md-48">store</span>
        <button class="navbar-toggler bg-light" data-bs-toggle="collapse" data-target="#navbar"><span class="navbar-toggler-icon"></span> </button>
        <div id="navbar" class="collapse navbar-collapse justify-content-between">
        </a>
        <ul class="navbar-collapse ml-auto">
          <li class="nav-item dropdown" style="margin-bottom: -15px;">
            <a class="nav-link text-light text-uppercase font-weight-bold px-3 dropdown-toggle" data-bs-toggle="dropdown" href="#" id="categoriesDropdown">Categories</a>
            <div class="dropdown-menu" aria-labelledby="categoriesDropdown">
             <a class="dropdown-item" href="{% url 'home' %}">All products</a>
            {% for category in links %}
              <a class="dropdown-item" href="{{category.get_url}}">{{category.name}}</a>
            {% endfor %}

            </div>
          </li>
          <li class="nav-item" style="margin-bottom: -15px;"><a class="nav-link text-light text-uppercase font-weight-bold px-3" href="#">Contacs</a> </li>

          <li class="nav-item" style="margin-bottom: -15px;"><a class="nav-link text-light text-uppercase font-weight-bold px-3" href="#">About</a> </li>
            {% if request.user.is_authenticated and request.user.first_name %}
            <li class="nav-item"><span class="nav-link text-light text-uppercase font-weight-bold px-3" href="#">Welcome, {{ request.user.first_name }}! <span class="material-symbols-outlined cart-icon" style="color:gray;">account_circle</span></span> </li>

            <li class="nav-item"><a class="nav-link text-light text-uppercase font-weight-bold px-3" href="{% url 'signout' %}">Sign Out<span class="material-symbols-outlined cart-icon" style="color:gray;">exit_to_app</span></a> </li>

            {% else %}

            <li class="nav-item" style="margin-bottom: -10px;"><a class="nav-link text-light text-uppercase font-weight-bold px-3" href="{% url 'signup' %}">Sign Up<span class="material-symbols-outlined cart-icon" style="color:gray;">add</span></a> </li>

            <li class="nav-item" style="margin-bottom: -10px;"><a class="nav-link text-light text-uppercase font-weight-bold px-3" href="{% url 'login' %}">Login<span class="material-symbols-outlined cart-icon" style="color:gray;">login</span></a> </li>

            {% endif %}


            {% if item_count > 0 %}
            <li class="nav-item"><a class="nav-link text-light text-uppercase font-weight-bold px-3" href="{% url 'cart_detail' %}">
              <span class="material-symbols-outlined cart-icon" style="color:gray;">add_shopping_cart</span>
              ({{item_count}})</a> </li>
            {% endif %}
        </ul>

      <form class="form-inline" action="{% url 'search' %}">
        <div class="input-group">
          <input type="search" placeholder="Search" name="query">
          <div>
            <button class="btn btn-outline-success" type="submit">
              <span class="btn-success material-icons material-symbols-outlined text-success material-icons md-28">search</span>
            </button>
          </div>
        </div>
      </form>
       </div>
    </nav>