{% extends 'base.html' %}
{% load static %}
{% block title %}
    Product
{% endblock %}
{% block content %}
<div class="container py-5">
    <div class="row mt-5">
        <div class="col-10 mx-auto col-md-6 my-3">
            <img src="{% static 'images/teddy.png' %}">
        </div>
    </div>

</div>
<div class="col-10 mx-auto col-md-6 my-3">
    <div>
        <h1 class="product_title">Teddy Bear</h1>
        <h5 class="text-info font-italic mb-3">
                            4.99$
                        </h5>
        <p class="product_desc">Product Descriptions</p>
        <p class="text-justify product_text">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus.</p>
        <p class="text-justify product_text">
            Out of stock

        </p>
    </div>
</div>
{% endblock %}

