{% extends 'base.html' %}
{% load static %}
{% block title %}
    Search
{% endblock %}
{% block content %}


{% for product in results %}
  <div>
    <div class="container py-5">
    <div class="row mt-5">
        <div class="col-10 mx-auto col-md-6 my-3">
            <img src="{{product.image.url}}" style="max-width: 150px; max-height: 150px">
        </div>
    </div>

</div>
<div class="container py-5">
    <div class="col-10 mx-auto col-md-6 my-3">
    <div class="col-md-6 my-3">
    <div>
        <h1 class="product_title">{{product.name}}</h1>
        <h5 class="text-info font-italic mb-3">
            ${{product.price}}
                        </h5>
        <p class="product_desc">Product Descriptions</p>
        <p class="text-justify product_text">
            {{product.description}}</p>
        {% if product.stock == 0 %}
        <p class="text-justify product_text">
            Out of stock</p>
        {% else %}
        <a href="{% url 'add_cart' product.id %}">Add To Cart</a>
        {% endif %}
    </div>
    </div>
</div>
</div>
  </div class="container py-5">
{% empty %}
  <h1 class="text-center">Nothing found.</h1>
{% endfor %}


{% endblock %}